*{
    box-sizing: border-box;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
ul li{
    list-style: none;
}
.draw_matrix{
    width: 100%;
    margin:0px;
    padding:0px;
}
.draw_matrix li{
    width:100%;
}
.draw_matrix li input {
    height:50px;
    width:50px;
    margin:1px;
}

.result{
    margin-top:20px;
    display:flex;
}
.result_table{
    border:1px solid #ccc;
    table-layout: fixed; 
    border-radius:10px;
    padding:2%;
    width: 45%;
    margin:2%;
}
.result_table td{
    display: table-cell;
    overflow:hidden;
}


