<p>Fill matrix, or click Randomize</p>
<form ng-show="showMe() < 5">
    <fieldset>
        <ul class="draw_matrix">
            <li ng-repeat="i in len()">
                <input ng-repeat="j in len()" type="number"  ng-model="array[i][j]">
            </li>
        </ul>

        

    </fieldset>
        
</form>
        <button class="toFill" ng-click="draw()">Next</button>
        <button class="reset" ng-click="refresh()">Clear</button>
        <button class="reset" ng-click="randomize()">Randomize</button>
        <pre class="result">
        <table class="result_table table-bordered">
            <th>U:</th>
            <tr ng-repeat="i in len()">
                <td ng-repeat="j in len()" >{{result.U[i][j]}}</td>
            </tr>
        </table>
        <table class="result_table table-bordered">
            <th>L:</th>
            <tr ng-repeat="i in len()">
                <td ng-repeat="j in len()" >{{result.L[i][j]}}</td>
            </tr>
        </table>
        
        </pre>